@import "tailwindcss";

@theme {
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-figtree: "Figtree", "Inter", ui-sans-serif, system-ui, sans-serif;

  --color-brand-btn: #e4002b;
  --color-text-main: #343a40;
  --color-text-over-img: #a6a2a2;
  --color-section-bg: #f4f4f5;
  --color-img-placeholder: #bdbdbd;
  --color-white: #ffffff;
  --color-black: #000000;

  --background-image-gradient-card: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  --shadow-card: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  --text-text-img-placeholder: 36px;

  --breakpoint-xs: 460px;
  --breakpoint-md: 768px;
  --breakpoint-desktop: 1875px;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/inter/Inter-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/inter/Inter-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/inter/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/inter/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/inter/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('../public/assets/fonts/fig-tree/Figtree-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('../public/assets/fonts/fig-tree/Figtree-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('../public/assets/fonts/fig-tree/Figtree-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('../public/assets/fonts/fig-tree/Figtree-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: var(--font-inter);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-text-main);
  }

  body {
    margin: 0;
    background: var(--color-white);
  }
}
